<!-- views/partials/footer.ejs -->

<p class="text-center text-muted">© Copyright 2015 Larry Mahony</p>

<!--scripts -->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!--<script src="/assets/js/jquery.tablesorter.min.js"></script>-->
<script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/app.js"></script>