<!-- views/partials/navmenu.ejs -->
<div id="navmenu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/athlete">Athlete</a></li>
        <li><a href="/activities">Activities</a></li>
    </ul>
</div>