.username {
    font-weight: bold;
}
header {
    clear: both;
    display: block;
    width: 90%;
    margin: 0 auto;
}

footer {
    clear: both;
    display: block;
    width: 90%;
    margin: 0 auto;
}