.username {
    font-weight: bold;
}
h1 {
    font-size: large;
}
header {
    clear: both;
    display: block;
    width: 90%;
    margin: 20px auto;
}

footer {
    clear: both;
    display: block;
    width: 90%;
    margin: 0 auto;
}

#navmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navmenu ul li {
    display: inline;
}